<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/icon.svg" type="image/svg+xml">

    <title>{% block title %}Throwaway Email Addresses{% end %}</title>
    <script src="{{static_url('dist/bundle.js')}}"></script>
    <link href="{{static_url('dist/main.css')}}" rel="stylesheet">

    {% block head %}{% end %}
  </head>
  <body class="d-flex flex-column justify-content-between vh-100">
    <div class="container mt-4 mt-md-5">
      {% block body %}{% end %}
    </div>
    {% block bottom %}{% end %}
    <footer class="footer mt-auto py-3 border-top">
      <div class="container">
        <span class="text-muted">¿Qué me cuentas?</span>
      </div>
    </footer>
  </body>
</html>
