{% extends "base.html" %}

{% block title %}
{{ subject }} | {{ address }}
{% end %}

{% block body %}

<a href="./" class="link-secondary mb-4 d-block" style="width: max-content">&larr; Back to Inbox</a>

<main>
  <h1 class="mb-4" style="hyphens: auto; overflow-wrap: break-word; word-wrap: break-word;">{{ subject }}</h1>

  <iframe
    class="mb-4"
    id="message"
    referrerpolicy="no-referrer"
    scrolling="no"
    sandbox="allow-same-origin allow-popups allow-popups-to-escape-sandbox"
    onload='javascript:(function(o){o.style.height=o.contentWindow.document.documentElement.scrollHeight+"px";}(this));'
    onresize='javascript:(function(o){o.style.height=o.contentWindow.document.documentElement.scrollHeight+"px";}(this));'
    style="height:400px;width:100%;border:none;overflow:hidden;"
    srcdoc="{% raw raw_message_html %}">
  </iframe>
</main>

{% if attachments %}
<p>This email has attachments 🎉</p>
  <ul>
  {% for attachment in attachments %}
  <li>
    <a download="{{ attachment['fname'] }}" href="{{ content_base_url + attachment['cid'] }}">{{ attachment["fname"] }}</a>
  </li>
  {% end %}
  </ul>
{% end %}

{% end %}
