{% extends "base.html" %}

{% block title %}
{{ address }} | Throwaway Email Addresses
{% end %}

{% block body %}

<a href="../.." class="link-secondary mb-4 d-block" style="width: max-content">Different address &olarr;</a>

<h1 class="mb-4">Emails for
  <span
    class="position-relative"
    data-controller="clipboard"
    data-action="click->clipboard#copy">
      <span class="user-select-all" data-clipboard-target="source">{{ address }}</span>
      <span data-clipboard-target="notification" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary fs-6">Copied</span>
  </span>
</h1>

<turbo-frame id="messages" data-controller="refresh" data-refresh-interval-value="5000" data-refresh-src-value="/view/{{ address }}/" target="_top">
  {% if not email_ids%}
    <p>This inbox is empty.</p>
    <p class="text-muted">Click the email address to copy it to your clipboard.</p>
    <p class="text-muted">Emails will be automatically deleted ten minutes after they arrive.</p>
    <p class="text-muted">Bookmark this page to find this inbox again later.</p>
  {% else %}
    {% for email_id in email_ids %}
      {% module Template("_email_link.html", email_id=email_id, summary=summaries[email_id]) %}
    {% end %}
  {% end %}
</turbo-frame>
{% end %}
