{% extends "base.html" %}

{% block body %}

<main>
  <h1 class="display-5 fw-bold">Temporary Email Addresses</h1>
  <div class="col-md-8 col-lg-6">
    <p class="lead mb-4">
      Use <b>qmq.ch</b> when you need a quick, temporary email address. No signup required. It is a great idea if you need to test email workflows like account creation, activity notifications or newsletter sign up.
    </p>
    <div class="d-grid d-sm-flex text-start mb-4">
      <form method="get" class="row row-cols-lg-auto g-3 align-items-end">
        <div class="col-12">
          <label class="form-label" for="email">Enter address</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="hello@qmq.ch" required>
        </div>
        <div class="col-12">
          <input type="submit" class="btn btn-primary" value="View inbox">
        </div>
      </form>
    </div>
    <h2 class="mt-5">First time here?</h2>
    <p class="mb-4">
      Is this your first time here and you are wondering how this works? Keep reading. qmq.ch gives you disposable inboxes. Without having to sign-up or login. You don't even have to create an inbox before you can start sending emails there. This means that the next time you need a throw away email address you can use <span class="fw-bold">some-random-words@qmq.ch</span> and then visit
      qmq.ch to view the emails sent to that address.
    </p>
  </div>
</main>
{% end %}
