{% extends "base.html" %}

{% block body %}

<main>
  <h1 class="display-5 fw-bold">Throwaway Email Addresses</h1>
  <div class="col-md-8 col-lg-6">
    <p class="lead mb-4">
      Next time you need a throwaway email address<br>
      <span class="font-monospace user-select-all">make-one-up@qmq.ch</span><br>
    then visit www.qmq.ch to view the emails sent to it.
    </p>
    <div class="d-grid d-sm-flex text-start mb-4">
      <form method="get" class="row row-cols-lg-auto g-3 align-items-end">
        <div class="col-12">
          <label class="form-label" for="email">Enter address</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="hello@qmq.ch" required autofocus>
        </div>
        <div class="col-12">
          <input type="submit" class="btn btn-primary" value="View inbox">
        </div>
      </form>
    </div>
    <p>
      Can't think of an email to use? Try
      <span data-controller="clipboard" style="display: inline-block">
        <span data-clipboard-target="source" data-action="click->clipboard#copy" class="font-monospace user-select-all">{{ random_email }}</span>
        <button data-action="clipboard#copy" class="btn btn-outline-secondary btn-sm position-relative">
          Copy <span data-clipboard-target="notification" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">Copied</span>
        </button>
      </span>
    </p>
  </div>
</main>
{% end %}
